<div id="uploadfiles" v-cloak>
	<div class="container" v-if="!cloudSuccess">
		<h1 class="text">Anexo 0: nombre del anexo</h1>
		<div class="signup-form">
			<p class="text">Aquí debe ir la descripción del anexo</p>
			<hr/>
			<ajax-form action="uploadfiles" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
				<div class="form-group">
					<label for="full-name">Archivo</label>
					<input class="form-control" id="full-name" type="file" @change="previewFiles" ref="myFiles" placeholder="OverrideSA" focus-first>
					<ajax-button type="submit" :syncing="syncing" class="btn btn-success">
						<i class="fas fa-arrow-alt-circle-up"></i> Subir archivo
					</ajax-button>
				</div>
			</ajax-form>
		</div>
	</div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
