<div id="login" v-cloak>
  <div class="container">
    <h1 class="text-center">Iniciar sesión</h1>
    <div class="login-form-container">
      <hr/>
      <ajax-form action="login" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Correo electrónico" :class="[formErrors.correo ? 'is-invalid' : '']" v-model.trim="formData.correo" focus-first>
          <div class="invalid-feedback" v-if="formErrors.correo">Por favor ingrese el correo electrónico de su empresa.</div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Contraeña" :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password">
          <div class="invalid-feedback" v-if="formErrors.password">Por favor ingrese la contraseña.</div>
        </div>
        <div class="form-group">
          <input type="checkbox" id="remember" name="rememberMe" v-model="formData.rememberMe"/>
          <label for="remember">Recordarme</label>
        </div>
        <p class="text-danger" v-if="cloudError==='badCombo'"><small>The credentials you entered are not associated with an account. Please check your email and/or password and try again.</small></p>
        <p class="text-danger" v-else-if="cloudError"><small>Ha ocurrido un error. Por favor verifique sus datos o <a href="/contact">contacte nuestro soporte</a> si el error persiste.</small></p>
        <div class="form-group">
          <ajax-button :syncing="syncing" class="btn-dark btn-lg btn-block">Iniciar sesión</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><a href="/password/forgot">¿Ha olvidado la contraseña?</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
