<body>
	<noscript>
		<p>Bienvenido a mi sitio</p>
		<p>La página que estás viendo requiere el uso de JavaScript para su correcto funcionamiento. Si lo has deshabilitado intenicionadamente, por favor habilitalo nuevamente</p>
	</noscript>
	<form id="files-frm" name="files_frm" action="" method="post" enctype="multipart/form-data">
		<fieldset>
		<ul class="collection with-header">
        <h2>Anexos</h2>

        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_0" class="secondary-content">Anexo 0<i class="material-icons orange600">folder</i></a></div>
        </li>

        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_1" class="secondary-content">Anexo 1  <i class="material-icons orange600">folder</i></a></div>
          </li>
          <li class="collection-item">
          	<div><a href="http://localhost:1337/anexos/anexo_2" class="secondary-content">
              <div class="alert alert-dark" role="alert">
                 <i class="fas fa-folder" style = "color:black">folder</i> Anexo 2</a>
            </div>
  </div>
        </li>
        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_3" class="secondary-content">Anexo 3  <i class="material-icons orange600">folder</i></a></div>
        </li>
        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_4" class="secondary-content">Anexo 4  <i class="material-icons orange600">folder</i></a></div>
        </li>
        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_5" class="secondary-content">Anexo 5  <i class="material-icons orange600">folder</i></a></div>
        </li>
        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_6" class="secondary-content">Anexo 6  <i class="material-icons orange600">folder</i></a></div>
        </li>
        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_7" class="secondary-content">Anexo 7  <i class="material-icons orange600">folder</i></a></div>
        </li>
        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_8" class="secondary-content">Anexo 8  <i class="material-icons orange600">folder</i></a></div>
        </li>
        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_9" class="secondary-content">Anexo 9  <i class="material-icons orange600">folder</i></a></div>
        </li>
        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_10" class="secondary-content">Anexo 10 <i class="material-icons orange600">folder</i></a></div>
        </li>
        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_11" class="secondary-content">Anexo 11 <i class="material-icons orange600">folder</i></a></div>
        </li>
        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_12" class="secondary-content">Anexo 12 <i class="material-icons orange600">folder</i></a></div>
        </li>
        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_13" class="secondary-content">Anexo 13 <i class="material-icons orange600">folder</i></a></div>
        </li>
        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_14" class="secondary-content">Anexo 14 <i class="material-icons orange600">folder</i></a></div>
        </li>
        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_15" class="secondary-content">Anexo 15 <i class="material-icons orange600">folder</i></a></div>
        </li>
        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_16" class="secondary-content">Anexo 16 <i class="material-icons orange600">folder</i></a></div>
        </li>
        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_17" class="secondary-content">Anexo 17 <i class="material-icons orange600">folder</i></a></div>
        </li>
        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_18" class="secondary-content">Anexo 18 <i class="material-icons orange600">folder</i></a></div>
        </li>
        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_19" class="secondary-content">Anexo 19 <i class="material-icons orange600">folder</i></a></div>
        </li>
        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_20" class="secondary-content">Anexo 20 <i class="material-icons orange600">folder</i></a></div>
        </li>
        <li class="collection-item">
        	<div><a href="http://localhost:1337/anexos/anexo_21" class="secondary-content">Anexo 21 <i class="material-icons orange600">folder</i></a></div>
        </li>
        
      </ul>
      </fieldset>
	</form>
</body>