
	<noscript>
		<p>Bienvenido a mi sitio</p>
		<p>La página que estás viendo requiere el uso de JavaScript para su correcto funcionamiento. Si lo has deshabilitado intenicionadamente, por favor habilitalo nuevamente</p>
	</noscript>
	<form id="files-frm" name="files_frm" action="" method="post" enctype="multipart/form-data">
		<fieldset>
		<ul class="collection with-header">
		<li class="collection-header"><h2>Documentos</h2></li>
		<li class="collection-item">
			<div><a href="" class="secondary-content" download="asdfasdf">Matriz de riesgos<i class="material-icons">subject</i></a></div>		
		</li>
		<li class="collection-item">
			<div><a href="" class="secondary-content" download="sadfasdf">Notificación de riesgos<i class="material-icons">subject</i></a></div>
		</li>
		<li class="collection-item">
			<div><a href="" class="secondary-content" download="sadfasdf">Instructivo<i class="material-icons">subject</i></a></div>
		</li>
		<li class="collection-item">
			<div><a href="" class="secondary-content" download="sadfasdf">GTC 45 2012<i class="material-icons">subject</i></a></div>
		</li>
		</ul>
		</fieldset>
	</form>
